{% extends 'parsers/base.html' %}

{% block title %}
    Список запросов
{% endblock %}

{% block content_title %}
    Список запросов
{% endblock %}

{% block content %}
        <nav><ul>
        {% for query in userquerys %}
        <li id = "spisok" class="">
            <a href="/query_detail/{{ query.timestamp }}">{{ query.timestamp }}</a>
        </li>
        {% endfor %}
        </ul></nav>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="focus">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}